body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  margin-bottom: 10px;
  color: #555;
}

input,
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0c3982;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content:space-evenly;
  margin-top: 0px;
}

/* Add more styling as needed */


button:hover {
  background-color:rgb(20, 84, 143);
}

/* Multi-step form styles */
.step-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  position: relative;
}

.step-number {
  width: 30px;
  height: 30px;
  border: 2px solid #0c3982;/* Border for hollow circle */
  border-radius: 50%;
  color:#0c3982;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  margin: 0 10px;
}

.filled {
  border-radius: 30px;
  background-color: #0c3982; /* Fill color for the circle */
  color: #fff; /* Text color for the filled circle */
  border: 2px solid  #0c3982; /* Border for the filled circle */
}

/* Add more styling as needed */

/* Add more styling as needed */
